page-home {
 

      .bgimg {
        background: url(../assets/imgs/background.png) no-repeat center center fixed;
        background-size: cover !important;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
        overflow: hidden;
      }

  

ion-img {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;

    contain: strict;
}

.trans
{
    background: transparent;
}
}
